{extend name="base/base"}
{block name="main"}
<blockquote class="layui-elem-quote">
    <span style="vertical-align: inherit;">欢迎管理员：</span>
    <span class="x-red">{:session('admin.username')}</span>
    <span style="vertical-align: inherit;">！当前时间：{:date('Y-m-d H:i:s')}</span>
</blockquote>
<fieldset class="layui-elem-field">
    <legend>数据统计</legend>
    <div class="layui-field-box">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-md2" style="padding: 20px;" align="center">
                    <div class="layui-card" style="border: rgba(71,120,209,0.13) 1px solid;">
                        <div class="layui-card-header layui-bg-gray">入驻酒店数量</div>
                        <div class="layui-card-body">
                            <span style="font-size: large;color: green">{$data.hotelCount}</span>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md2" style="padding: 20px" align="center">
                    <div class="layui-card" style="border: rgba(71,120,209,0.13) 1px solid;">
                        <div class="layui-card-header layui-bg-gray">注册用户数</div>
                        <div class="layui-card-body">
                            <span style="font-size: large;color: green">{$data.userCount}</span>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md2" style="padding: 20px" align="center">
                    <div class="layui-card" style="border: rgba(71,120,209,0.13) 1px solid;">
                        <div class="layui-card-header layui-bg-gray">商品数量</div>
                        <div class="layui-card-body">
                            <span style="font-size: large;color: green">{$data.productCount}</span>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md2" style="padding: 20px" align="center">
                    <div class="layui-card" style="border: rgba(71,120,209,0.13) 1px solid;">
                        <div class="layui-card-header layui-bg-gray">酒店订单数量</div>
                        <div class="layui-card-body">
                            <span style="font-size: large;color: green">{$data.hotelOrderCount}</span>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md2" style="padding: 20px" align="center">
                    <div class="layui-card" style="border: rgba(71,120,209,0.13) 1px solid;">
                        <div class="layui-card-header layui-bg-gray">产品订单数量</div>
                        <div class="layui-card-body">
                            <span style="font-size: large;color: green">{$data.productOrderCount}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</fieldset>

<fieldset class="layui-elem-field">
    <legend>系统信息</legend>
    <div class="layui-field-box">
        <table class="layui-table">
            <tbody><tr>
                <td class="gray_bg">服务器操作系统:</td>
                <td>{$sys_info.os}</td>
                <td class="gray_bg">服务器域名/IP:</td>
                <td>{$sys_info.domain} [ {$sys_info.ip} ]</td>
            </tr>
            <tr>
                <td class="gray_bg">服务器环境:</td>
                <td>{$sys_info.web_server}</td>
                <td class="gray_bg">PHP 版本:</td>
                <td>{$sys_info.phpv}</td>
            </tr>
            <tr>
                <td class="gray_bg">Mysql 版本:</td>
                <td>{$sys_info.mysql_version}</td>
                <td class="gray_bg">GD 版本:</td>
                <td>{$sys_info.gdinfo}</td>
            </tr>
            <tr>
                <td class="gray_bg">文件上传限制:</td>
                <td>{$sys_info.fileupload}</td>
                <td class="gray_bg">最大占用内存:</td>
                <td>{$sys_info.memory_limit}</td>
            </tr>
            <tr>
                <td class="gray_bg">最大执行时间:</td>
                <td>{$sys_info.max_ex_time}</td>
                <td class="gray_bg">安全模式:</td>
                <td>{$sys_info.safe_mode}</td>
            </tr>
            <tr>
                <td class="gray_bg">Zlib支持:</td>
                <td>{$sys_info.zlib}</td>
                <td class="gray_bg">Curl支持:</td>
                <td>{$sys_info.curl}</td>
            </tr>
            </tbody></table>
    </div>
</fieldset>

<fieldset class="layui-elem-field">
    <legend>开发团队</legend>
    <div class="layui-field-box">
        <table class="layui-table">
            <tbody>
            <tr>
                <th>版权所有</th>
                <td>杭州牧马人科技有限公司</td>
            </tr>
            <tr>
                <th>开发者</th>
                <td>张强(229230041@qq.com)</td></tr>
            </tbody>
        </table>
    </div>
</fieldset>



{/block}