{extend name="base/base"}
{block name="main"}
<div class="layui-anim layui-anim-up layui-field-box">
    <form class="layui-form layui-form-pane" action="" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$productType.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">模型名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" lay-verify="required"  placeholder="请输入商品模型名称" class="layui-input" value="{$productType.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="javascript"}
<script>
    layui.use(['form'],function () {
        var form = layui.form,$ = layui.jquery;

        //监听提交
        form.on('submit(*)', function(data){
            $.ajax({
                url:'edit',
                type:'post',
                data:data.field,
                success:function (data) {
                    var code = data.code.toString();
                    var startChar = code.charAt(0);
                    if (startChar == '2')
                    {
                        layer.alert(data.msg, {icon: 6},function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                        });
                    }else{
                        layer.alert(data.msg, {icon: 7});
                    }
                },
                error:function (error) {
                    layer.msg(error.responseJSON.msg);
                }
            })
            return false;
        });
    })
</script>
{/block}