{extend name="base/base"}
{block name="main"}
<div class="layui-anim layui-anim-up layui-field-box">
    <form class="layui-form layui-form-pane" action="" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$crowdfunding.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">广告图片</label>
            <div class="layui-input-inline" style="width:80%;">
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="upload">单图片上传</button>
                    <div class="layui-upload-list" style="padding-left:110px;">
                        <img class="layui-upload-img" src="{$crowdfunding.image.url}" id="showImg" width="80">
                        <input type="hidden" name="image" id="path">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <textarea name="content" required lay-verify="required" placeholder="请输入" class="layui-textarea">{$crowdfunding.content}</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="javascript"}
<script>
    layui.use(['form','upload'],function () {
        var form = layui.form,$ = layui.jquery,upload = layui.upload;
        upload.render({
            elem: '#upload'
            ,url: '{:url("upload/upload")}'
            ,multiple: false
            ,size: 1024
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#showImg').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                $('#path').val(res.data.src); // 将上传后的图片路径赋值给隐藏域
            }
        });
        //监听提交
        form.on('submit(*)', function(data){
            $.ajax({
                url:'edit',
                type:'post',
                data:data.field,
                success:function (data) {
                    var code = data.code.toString();
                    var startChar = code.charAt(0);
                    if (startChar == '2')
                    {
                        layer.alert(data.msg, {icon: 6},function () {
                            location.href="lists";
                        });
                    }else{
                        layer.alert(data.msg, {icon: 7});
                    }
                },
                error:function (error) {
                    layer.msg(error.responseJSON.msg);
                }
            })
            return false;
        });
    })
</script>
{/block}