{extend name="base/base"}
{block name="main"}

<button class="layui-btn" id="add">
    <i class="layui-icon">&#xe608;</i> 添加
</button>

<table id="list" lay-filter="list"></table>

{/block}
{block name="javascript"}

<script type="text/html" id="status">
    <input type="checkbox" name="status" value="{{d.id}}" title="已启用" lay-filter="status" {{ d.status == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
</script>

<script>

    layui.use(['layer', 'table', 'laydate', 'form'], function(){
        var layer = layui.layer, table = layui.table, $ = layui.jquery, laydate = layui.laydate, form = layui.form;

        //表格数据
        table.render({
            elem: '#list'
            ,height: 600
            ,url: 'page' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {type:'checkbox'},
                {field: 'id', title: 'ID', width:80, sort: true}
                ,{field: 'version', title: '版本号'}
                ,{field: 'type', title: '类型'}
                ,{field: 'ios_apk_url', title: 'IOS下载地址'}
                ,{field: 'android_apk_url', title: '安卓下载地址'}
                ,{field: 'upgrade_point', title: '更新内容'}
                ,{field: 'status', title: '状态', templet:'#status'}
                ,{field: 'create_time', title: '创建时间'}
                ,{fixed: 'right', title: '操作', width:80, align:'center', toolbar: '#bar'}
            ]]
        })

        //监听是否推荐操作
        form.on('checkbox(status)', function(obj){
            $.post('{:url("change")}', {id:this.value, field:'status', model:'versionUpgrade'}, function(data) {});
            layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
        });
        //监听工具条
        table.on('tool(list)', function(obj){
            var data = obj.data;
            if(obj.event === 'edit'){
                layer.open({
                    type: 2,
                    title:'编辑版本信息',
                    area: ['600px', '600px'],
                    maxmin: true,
                    fixed: false, //不固定
                    content: '{:url("edit")}?id='+obj.data.id,
                    end: function () {
                        location.reload();
                    }
                });
            }
        });
        //添加
        $("#add").on('click',function () {
            //iframe层-父子操作
            layer.open({
                type: 2,
                title:'添加版本信息',
                area: ['600px', '600px'],
                maxmin: true,
                fixed: false, //不固定
                content: '{:url("add")}',
                end: function () {
                    location.reload();
                }
            });
        })
    });
</script>
{/block}