{extend name="base/base"}
{block name="main"}
<blockquote class="layui-elem-quote">
    <form action="lists" class="layui-form" type="post">
        <div class="layui-inline">
            <input type="text" class="layui-input" id="date" name="date" placeholder="请选择申请入驻日期" readonly>
        </div>
        <button lay-submit class="layui-btn" lay-filter="search"> 查询 </button>
    </form>
</blockquote>

<table id="list" lay-filter="list"></table>

{/block}
{block name="javascript"}

<script>

    layui.use(['layer', 'table', 'laydate', 'form'], function(){
        var layer = layui.layer, table = layui.table, $ = layui.jquery, laydate = layui.laydate, form = layui.form;

        //表格数据
        table.render({
            elem: '#list'
            ,height: 600
            ,url: 'page' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {type:'checkbox'},
                {field: 'id', title: 'ID', width:80, sort: true}
                ,{field: 'room_total_price', title: '房间总价'}
                ,{field: 'coupon_price', title: '优惠券抵扣'}
                ,{field: 'commission_price', title: '平台抽成'}
                ,{field: 'settle_accounts_price', title: '本期应结'}
                ,{field: 'create_time', title: '记录日期', sort: true}
                ,{fixed: 'right', title: '操作', width:80, align:'center', toolbar: '#bar'}
            ]]
        })

        //监听工具条
        table.on('tool(list)', function(obj){
            if(obj.event === 'edit'){
                layer.msg('你确定已转账么？', {
                    time: 0 //不自动关闭
                    ,btn: ['确定', '取消']
                    ,yes: function(index){
                        $.post('{:url("edit")}', {id:obj.data.id}, function(data) {
                            var code = data.code.toString();
                            var startChar = code.charAt(0);
                            if (startChar == '2')
                            {
                                layer.alert(data.msg, {icon: 6},function () {
                                    table.reload('list');
                                });
                            }else{
                                layer.alert(data.msg, {icon: 7});
                            }
                        });

                    }
                });
            }
        });

        laydate.render({
            elem: '#date' //指定元素
            ,type: 'date'
            ,trigger: 'click'
            ,lang: 'cn'
            //,lang: 'en'
            ,range: true //开启日期范围，默认使用“_”分割
            ,done: function(value, date, endDate){
                console.log(value, date, endDate);
            }
            ,change: function(value, date, endDate){
                console.log(value, date, endDate);
            }
        });

        // 监听表单提交事件
        form.on('submit(search)', function(data) {
            table.reload('list', {
                where:data.field
            });
            return false; // 阻止表单提交
        })
    });
</script>
{/block}