<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>悦棠旅居</title>
    <link rel="stylesheet" href="__STATIC__/css/layui.css">
    <style type="text/css">
        .layui-tab-content .layui-tab-item {width:100%;height:100%;}
        .layui-tab-content iframe {width:100%;height:100%;border:none;overflow:hidden;}
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">悦棠旅居</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <!--<ul class="layui-nav layui-layout-left" lay-filter="navigation">-->
            <!--<li class="layui-nav-item"><a content="">权限管理</a></li>-->
        <!--</ul>-->
        <ul class="layui-nav layui-layout-right" lay-filter="navigation">
            <li class="layui-nav-item">
                <a content="">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    {:session('admin.username')}
                </a>
                <dl class="layui-nav-child">
                    <dd><a content="{:url('admin/editPassword')}">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="{:url('login/logout')}">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="navigation">
                <li class="layui-nav-item layui-nav-itemed">
                    <a >信息管理</a>
                    <dl class="layui-nav-child">
                        <dd><a content="{:url('info/lists')}">基本信息设置</a></dd>
                        <dd><a content="{:url('category/lists')}">类别属性设置</a></dd>
                        <dd><a content="{:url('photo/lists')}">酒店相册设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a >房间管理</a>
                    <dl class="layui-nav-child">
                        <dd><a content="{:url('room/lists')}">房间列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a >订单管理</a>
                    <dl class="layui-nav-child">
                        <dd><a content="{:url('order/lists')}">订单列表</a></dd>
                    </dl>
                </li>
                <!--<li class="layui-nav-item">-->
                    <!--<a >拼团管理</a>-->
                    <!--<dl class="layui-nav-child">-->
                        <!--<dd><a content="{:url('group/lists')}">拼团设置</a></dd>-->
                    <!--</dl>-->
                <!--</li>-->

                <li class="layui-nav-item">
                    <a >评价管理</a>
                    <dl class="layui-nav-child">
                        <dd><a content="{:url('comment/lists')}">评价列表</a></dd>
                    </dl>
                </li>
                <!--<li class="layui-nav-item">-->
                    <!--<a >数据统计</a>-->
                    <!--<dl class="layui-nav-child">-->
                        <!--<dd><a content="{:url('statistics/hotel')}">酒店数据</a></dd>-->
                        <!--<dd><a content="{:url('statistics/product')}">商品数据</a></dd>-->
                    <!--</dl>-->
                <!--</li>-->
                <li class="layui-nav-item">
                    <a>财务管理</a>
                    <dl class="layui-nav-child">
                        <dd><a content="{:url('withdraw/lists')}">提现申请</a></dd>
                        <dd><a content="{:url('deposit/lists')}">汇款列表</a></dd>
                        <dd><a content="{:url('settleAccount/lists')}">结算记录</a></dd>
                        <dd><a content="{:url('expend/lists')}">数据统计</a></dd>
                    </dl>
                </li>

            </ul>
        </div>
    </div>

    <div class="layui-body" style="overflow:hidden;">
        <!-- 内容主体区域 -->
        <div class="layui-tab" lay-filter="tab" lay-allowClose="true" style="margin-top:0; height:100%; overflow:hidden;">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="index">数据统计</li>
            </ul>
            <div class="layui-tab-content" style="height:87%">
                <div class="layui-tab-item layui-show">
                    <iframe src="{:url('statistics/lists')}"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 悦棠旅居后台管理系统
    </div>
</div>
<script src="__STATIC__/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element, $ = layui.jquery;
        element.on('nav(navigation)', function(data) {
            var content = $(data).find('a').attr('content');
            var title = $(data).find('a').html();
            if(!$('li[lay-id="'+content+'"]').size()) {
                element.tabAdd('tab', {title:title, content:'<iframe src="'+content+'"></iframe>', id:content});
            }
            element.tabChange('tab', content);
        })

    });
</script>
{block name="javascript"}{/block}
</body>
</html>
