{extend name="base/base"}
{block name="main"}
<blockquote class="layui-elem-quote">
    <i class="layui-icon" style="font-size: 24px;">&#xe62d;</i>
    <span style="font-size:18px;">编辑房间设施</span>
    <a href="{:url('lists')}" class="layui-btn layui-btn-sm" style="float:right;">返回列表</a>
</blockquote>
<form class="layui-form layui-form-pane" action="" method="post" enctype="multipart/form-data">
    <div class="layui-form-item">
        <label class="layui-form-label">设施名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" required placeholder="请输入房间设施名称" class="layui-input" value="{$facility.name}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">设施排序</label>
        <div class="layui-input-block">
            <input type="text" name="sort" class="layui-input" lay-verify="number" value="{$facility.sort}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所属设施</label>
        <div class="layui-input-inline">
            <select name="parent_id" lay-filter="parent_id" lay-search="">
                <option value="0"> 一级房间设施 </option>
                {volist name="category" id="item"}
                <option value="{$item.id}" {if condition="$facility['parent_id']==$item['id']"}selected{/if}>{$item.name}</option>
                {/volist}
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux" id="showCateMsg">默认为一级房间设施</div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}
{block name="javascript"}
<script>
    layui.use('form', function(){
        var form = layui.form, $ = layui.jquery;
        form.on('select(parent_id)', function(data) {
            if(data.value>0) {
                var catename=$(data.elem).find(':selected').text();
                $('#showCateMsg').html(catename+'的子房间设施');
            } else {
                $('#showCateMsg').html('一级房间设施');
            }
        });
        //监听提交
        form.on('submit(*)', function(data){
            console.log(data.field)
            $.ajax({
                url:'',
                type:'post',
                data:data.field,
                success:function (data) {
                    var code = data.code.toString();
                    var startChar = code.charAt(0);
                    if (startChar == '2')
                    {
                        layer.alert(data.msg, {icon: 6},function () {
                            location.href="../../lists"
                        });
                    }else{
                        layer.alert(data.msg, {icon: 7});
                    }
                },
                error:function (error) {
                    layer.msg(error.responseJSON.msg);
                }
            })
            return false;
        });
    });
</script>
{/block}